print('simple program to know which day you were born at ')

askyear = input("year\n")
askmonth = input("month\n")
askday = input("day\n")

import datetime
d = datetime.date(int(askyear) , int(askmonth) , int(askday)).isoweekday()
s = (d,13 ,0)


weekdays = {
    1 : "monday",
    2 : "tuesday",
    3 : "wednesday",
    4: "thursday",
    5:"friday",
    6 : "saturday" ,
    7 : "sunday"
}
try:
    for item in s:
        for keys , values in weekdays.items():
            if keys == item:
                n =weekdays.pop(keys)
except RuntimeError:
    print(n)
